  <div class="dialog-top-container">
    <div class="dialog-header">
      <span
        class="mat-subheading-2 dialog-title"
      >{{data.title | translate}}</span>
      
      <abb-close-icon 
        [sizeClass]="'large'"
        (click)="closeDialog()"
      ></abb-close-icon>
    </div>
  
    <mat-dialog-content class="dialog-content">
      <ng-template #dialogContent></ng-template>
    </mat-dialog-content>
  
    <mat-dialog-actions class="dialog-actions">
      <abb-button
        [text]="data.buttonSecondaryText | translate"
        [type]="'discreet-blue'"
        (click)="closeDialog()"
      ></abb-button>
      <abb-button
        [text]="data.buttonPrimaryText | translate"
        [type]="'primary-blue'"
        (click)="okButton()"
      ></abb-button>
    </mat-dialog-actions>
  </div>
  
<!-- NATIVE ABB DIALOG COMPONENT -->
<!-- <abb-dialog 
  [closeable]="true"
  [dimBackground]="true"
  [closeOnLostFocus]="true"
  [title]="'Title'"
>
<p>Dialog content area</p>
</abb-dialog> -->