
// .buttons {
//   // margin-top: 20px;
// }
app-parameter-block.root-block ::ng-deep > .parameter-block {
  margin-left: 0;
}
.parent {
  margin-bottom: 20px;
}
.scrollable-wrapper {
  background-color: green;

  .content {
    background-color: red;
    height: 500px;
  }
}