<form 
  class="parent"
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()">

  <app-parameter-block
    class="root-block"
    *ngIf="parameterBlock"
    [parameterBlock]="parameterBlock"
  ></app-parameter-block>

  <!-- <app-scrollable-overflow-wrapper class="scrollable-wrapper">
    <div class="content">
      AAAAAAAAAAAA
    </div>
  </app-scrollable-overflow-wrapper> -->

  <div *ngIf="modifiedFields?.length" class="modified-fields">
    <p style="font-weight: bold;">{{'cvs-modules.parameter-editor.modified-parameters' | translate}}</p>
    <p *ngFor="let field of modifiedFields">
      <span>{{field.name}}: </span>
      <span>{{field.value}}</span>
    </p>
  </div>

  <div class="buttons">
    <abb-button
      [icon]="'abb/save'"
      [text]="'base.action.save' | translate"
      [type]="'primary-blue'"
      (click)="onSubmit()"
    ></abb-button>
  </div>

</form>
