@import 'variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  display: table;
  & > * {
    display: table-cell;
  }
}

tr.pending {
  font-weight: bold;
}