@import 'variables.scss';

.main-container {
  display: flex;
  min-height: 100%;

  .col {
    display: flex;
    flex-direction: column;
  }
}

.sensor-selector {
  display: flex;
  & > :first-child {
    flex: 1;
  }

  .add-sensor-icon {
    margin-left: 20px;
  }
}

.camera-icon {
  margin-right: 20px;
  color: green;
  &.error {
    color: red;
  }
  &.disabled {
    color: inherit;
  }
}

.status-container {
  flex-grow: 1;
  margin-left: 40px;
}

.delete-block {
  flex: 1;
  display: flex;
  align-items: flex-end;
}