<!-- Header bar with ABB Logo -->
<abb-app-container>
  <abb-bar [productName]="title"></abb-bar>
  <abb-app-header>
    <abb-app-header-spacer></abb-app-header-spacer>
    <abb-app-top-navi>
      <abb-app-top-navi-item 
        [icon]="'abb/alarm-bell'"
        [text]="getLastActiveLog()"
        [ngClass]="{'active-error': getLastActiveLog()}"
        (itemClick)="goToLogs()"
        [routerLink]="routes.LOGS.BASE"
        routerLinkActive 
        #rlaLogs="routerLinkActive" 
        [active]="rlaLogs.isActive"
      ></abb-app-top-navi-item>
      <app-language-selector></app-language-selector>
      <abb-app-top-navi-divider></abb-app-top-navi-divider>
      <app-user-selector></app-user-selector>
    </abb-app-top-navi>
    
  </abb-app-header>
  <!-- Just below the header bar -->

  <abb-app-content>
    <!-- Left pane -->
    <abb-app-left-pane
      [showVisibilityToggle]="false"
      [visibility]="'compact'"
      [title]="'left pane'"
    >
      <abb-sidebar-navi [monochrome]="false">
        <abb-sidebar-navi-tile
          [title]="'base.tabs.overview' | translate"
          [routerLink]="routes.ROBOT.BASE" 
          routerLinkActive 
          #rlaRobot="routerLinkActive" 
          [active]="rlaRobot.isActive"
          (click)="sideBarItemStopPropagation($event)"
          >
          <abb-icon [name]="'abb/robot'" [sizeClass]="'large'"></abb-icon>
        </abb-sidebar-navi-tile>
        
      </abb-sidebar-navi>
    </abb-app-left-pane>

    <!-- Content inside -->
    <abb-app-main-content>
      <router-outlet></router-outlet>
      
      
      <abb-notification-container
        [notifications]="notifications"
        [topPosition]="'80px'"
      ></abb-notification-container>
      
    </abb-app-main-content>
  </abb-app-content>


</abb-app-container>


