
// add padding right to the default abb collapsible container
::ng-deep abb-collapsible {
  .customContent {
    padding-right: 36px !important;

    // this will avoid overflowing content based on the header height (responsive solution)
    max-height: calc(100vh - 270px);
    overflow: auto;

    // bad style of abb-collapsible: it puts cursor:pointer to header and content, when it should be only header
    cursor: auto;
  }
}