<div class="parameter" [ngClass]="{'is-dirty': isDirty()}">
  <ng-container *ngIf="isInput()">
    <app-input
      [label]="parameter.name"
      [required]="parameter.required"
      [dataType]="getInputDataType()"
      [formControl]="parameter.formControl"
      [decimals]="parameter.decimals"
    ></app-input>
  </ng-container>
  
  <ng-container *ngIf="isDropdown()">
    <abb-form-dropdown
      [label]="parameter.name"
      [formControl]="parameter.formControl"
      [required]="parameter.required"
    >
      <abb-dropdown-option
        *ngFor="let option of parameter.options"
        [label]="option.name"
        [value]="option.id"
      >
      </abb-dropdown-option>
    </abb-form-dropdown>
  </ng-container>
  
  <ng-container *ngIf="isSwitch()">
    <abb-toggle-switch
      [label]="parameter.name"
      [showIcons]="false"
      [value]="parameter.formControl.value"
      (change)="changeSwitchValue($event)"
    >
    </abb-toggle-switch>
  </ng-container>
</div>