@import 'variables.scss';

$image-radius: 15px;
.custom-carousel {
  .carousel-cell {
    // position: relative;
    .container-image {
      height: 100%;
      position: relative;
    }

    img {
      object-fit: cover;
      border-radius: $image-radius;
    }

    .selected img {
      border: 4px solid $abb-blue-color;
      border-radius: $image-radius;
    }    

    .delete-picture {
      position: absolute;
      bottom: 0;
      margin: 20px;
    }

    .image-title {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px;
      color: white; 
      font-size: 20px;
    }

    .deleted {
      .delete-picture {
        display: none;
      }

      .deleted-overlay {
        opacity: 0.7;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: $image-radius;
        position: absolute;
        top: 0;
      }
    }

    
  }
}
