<form class="main-container" 
  [formGroup]="formGroup" 
  (ngSubmit)="onSubmit()"
  *blockUI="'main-config'"
>
  <div class="inputs">
    
    <div class="column">
      <div class="cal-box">
        <table>
          <tr *ngFor="let field of extrinsicCalibrationFieldConfiguration">
            <td class="label">
              <span>{{ field.label | translate }}</span>
            </td>
            <td class="input">
              <app-input
                [dataType]="field.type"
                [required]="true"
                [formControlName]="field.name"
                [discreet]="true"
                [hideValidationContainer]="true"
                [decimals]="field.decimals"
                [min]="field.min"
              ></app-input>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="buttons">
    <abb-button
      [icon]="'abb/save'"
      [text]="'base.action.save' | translate"
      [type]="'primary-blue'"
      (click)="onSubmit()"
    ></abb-button>
  </div>

</form>


