<form class="main-container" 
  [formGroup]="formGroup" 
  (ngSubmit)="onSubmit()"
  *blockUI="'main-config'"
>
  <div class="inputs">
    <div class="column">
      <app-input
        [dataType]="'text'"
        [label]="'cvs-modules.sensor.main-config.label' | translate"
        [required]="true"
        [formControlName]="'label'"
      ></app-input>

      <app-input
        [dataType]="'text'"
        [label]="'ABB SN'"
        [required]="true"
        [formControlName]="'ABBSerialNumber'"
      ></app-input>

      <app-input
        [dataType]="'text'"
        [label]="'S.N.'"
        [required]="true"
        [formControlName]="'serialNumber'"
      ></app-input>

      <app-input
        [dataType]="'text'"
        [label]="'IP'"
        [required]="true"
        [formControlName]="'IP'"
      ></app-input>
    </div>

    <div class="column">
      <p>{{ "cvs-modules.sensor.main-config.intrinsic-calibration" | translate }}</p>
      <div class="intrinsic-cal-box">
        <table>
          <tr *ngFor="let field of intrinsicCalibrationFieldConfiguration">
            <td class="label">
              <span>{{ field.label | translate }}</span>
            </td>
            <td class="input">
              <app-input
                [dataType]="field.type"
                [required]="true"
                [formControlName]="field.name"
                [discreet]="true"
                [hideValidationContainer]="true"
                [decimals]="field.decimals"
                [min]="field.min"
              ></app-input>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="buttons">
    <abb-button
      [icon]="'abb/save'"
      [text]="'base.action.save' | translate"
      [type]="'primary-blue'"
      (click)="onSubmit()"
    ></abb-button>
    <abb-button
      [text]="'base.action.upload-file' | translate"
      [icon]="'abb/upload'"
      [type]="'ghost'"
      (click)="uploadFileComponent.open()"
    ></abb-button>
  </div>

  <app-upload-file
    #uploadFileComponent
    [closeOnClick]="true"
    [onlyOneFile]="true"
    (fileDropped)="droppedFile($event)"
  ></app-upload-file>
</form>


