@import 'variables.scss';

.inputs {
  display: flex;
}

.column {
  flex:1;

  &:last-child {
    margin-left: 35px;
  }
}

.intrinsic-cal-box {
  width: 100%;
  min-height: 30px;
  border: 1px solid black;
  background: white;
  padding-left: 20px;
  padding-bottom: 15px;

  tr {
    // vertical-align: baseline;
  }
  td.label {
    padding-top: 8px;
    vertical-align: top;
  }
  td.input {
    padding-left: 20px;
  }
}

.buttons {
  abb-button {
    margin-right: 20px;
  }
}

form {
  // just for the 'upload-file-hint' to look nice
  position: relative;
}
