<form 
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()">

  <app-input
    [dataType]="'text'"
    [label]="'cvs-modules.operation-manager.operation-name' | translate"
    [required]="true"
    [formControlName]="'operationName'"
  ></app-input>

  <abb-form-dropdown
    *ngIf="enableNaturalFeature()"
    [label]="'cvs-modules.operation-manager.operation-type' | translate"
    [placeholder]="'Operation selector...'"
    [formControlName]="'operationType'"
  >
    <abb-dropdown-option
      [label]="'cvs-modules.operation-manager.tag-operation' | translate"
      [value]="operationTypeTag"
    >
    </abb-dropdown-option>
    <abb-dropdown-option
      [label]="'cvs-modules.operation-manager.natural-feature-operation' | translate"
      [value]="operationTypeNaturaFeature"
    >
    </abb-dropdown-option>
  </abb-form-dropdown>

</form>