@import 'variables.scss';

.region-of-interest {
  .col2 {
    padding-left: 20px;
  }
}

.column {
  max-width: $input-max-width;
}

.sensor-selector {
  max-width: $input-max-width;
}

.exposure-block {
  display: flex;
  app-input {
    flex: 1;
  }

  abb-toggle-switch {
    margin-left: 20px;
    align-self: center;

    // position: absolute;
    // right: -93px;
    // top: 16px;
  }

}